
@{
    ViewBag.Title = "SuccessPaypal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDataPaypal</title>
</head>
<body>
    <div>
        Checkout Paypal Success !^^
    </div>
    <br />
    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="POST">
        <input type="hidden" name="cmd" value="_notify-synch">
        <input type="hidden" name="tx" value="@ViewBag.tx">
        <input type="hidden" name="at" value="-BAJnVecxou_7ZDYtninxZeeq4AQViDzd_8OvMUx2q_l5Pzq7X9FhNiCILO">
        <input type="submit" value="Get Data" class="btn btn-primary">
    </form>
</body>
</html>
