@model List<Model.Menus>
<div class="menu">
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="@item.Link">@item.Text</a></li>
        }
        <div class="clear"></div>
    </ul>
</div>
